{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div >
  <table align=center>
    <tr>
      <td><h4 style='padding-right:20px;'>Data collected on {{ date }}</h4></td>
      <td>{{ wtf.quick_form(form) }}</td>
    </tr>
  </table>
</div>



<table class="table display" id="example">

  <thead>
  <tr>
    <th>Domains \ Registrars</th>
    {% for provider in providers %} <th> {{ provider }} </th> {% endfor %}
  </tr>
 </thead>

 <tbody>
  {% for domain in domains %}
  <tr>
    <th> {{ domain }} </th>

    {% for provider in providers %}
    <td>
      {{ prices[provider][domain] }}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
 </tbody>
</table>




{% endblock %}
